{% extends "emails/_base.html" %}
{% block preheader %}Your account is active again. Welcome back!{% endblock %}
{% block content %}
{% include "emails/_status.html" with tone="good" label="Reactivated" icon="🔓" headline="Welcome back!" %}
<p style="margin:10px 0 0;font-size:15px;line-height:1.7;color:#3a4a3c;">
  Your BulanTanom {{ role_label }} account has been reactivated, and your
  records are just as you left them. You can sign in again.
</p>
{% include "emails/_details.html" with status="Active" status_color="#23753a" %}
{% include "emails/_features.html" with intro="Your access includes:" %}
{% include "emails/_button.html" %}
{% endblock %}
