{% extends "emails/_base.html" %}
{% block preheader %}Your Farmer account is ready. Sign in to start tracking your plants.{% endblock %}
{% block content %}
{% include "emails/_status.html" with tone="good" label="Account created" icon="🌱" headline="Welcome to BulanTanom!" %}
<p style="margin:10px 0 0;font-size:15px;line-height:1.7;color:#3a4a3c;">
  Your Farmer account has been created and is ready to use. Track your crops,
  catch risks early and know when each plant will be ready to harvest.
</p>
{% include "emails/_details.html" with status="Active" status_color="#23753a" %}
{% include "emails/_features.html" with intro="You can now sign in and use:" %}
{% include "emails/_button.html" %}
<p style="margin:24px 0 0;padding-top:18px;border-top:1px solid #e3ebdf;font-size:13px;line-height:1.6;color:#6b7a68;">
  Didn't create this account? Please contact your LGU office.
</p>
{% endblock %}
